.paddings {
  padding: 48px 24px;
}
@media (min-width: 640px) {
  .paddings {
    padding: 64px;
  }
}
@media (min-width: 0) {
  .paddings {
    padding: 32px;
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 8;
}
.innerWidth {
  width: 100%;
}

.flexCenter {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text {
  flex: 0.75;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}
@media (min-width: 1536px) {
  .innerWidth {
    max-width: 1280px;
  }
}
